<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mufeng.test.sql.mapper.TeacherMapper">
    <select id="getTeacherByTid" resultMap="teacherResultMap" parameterType="int">
        select *, teacher.name as tname
        from student
                 inner join teach on student.sid = teach.sid
                 inner join teacher on teacher.tid = teach.tid
        where teacher.tid = #{tid}
    </select>
    <resultMap id="teacherResultMap" type="com.mufeng.test.sql.entity.Teacher">
        <id column="tid" property="tid"/>
        <result column="tname" property="name"/>
        <collection property="studentList" ofType="com.mufeng.test.sql.entity.Student">
            <id column="sid" property="sid"/>
            <result column="name" property="name"/>
            <result column="sex" property="sex"/>
        </collection>
    </resultMap>
</mapper>
